.all-page {
background-color: #FFFFFF; 
font-style: normal; 
font-family: 'Roboto', 'Raleway', sans-serif;
text-decoration: none;
}
.top {
background-color: #FFFFFF;
}
.bottom {
background-color: #2F303A;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
}
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
}
.logo-web {
color: #2196F3;
}
.logo-studio {
color: #000000;
}
.logo-studio-bot {
color: #FFFFFF;
}
.list {
list-style: none;
}
.navigation {
color: #212121; text-decoration: none;
}
.navigation:hover {
color: #2196F3;
}
.contacts {
color: #757575; text-decoration: none;
}
.contacts:hover {
color: #2196F3;
}
.contacts-bottom {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
}
.contacts-bottom:hover {
color: #2196F3;
}
.hero {
background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.button {
background-color: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.button:hover {
cursor: pointer;
}
.button-portfolio {
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto';
}
.button-portfolio:hover {
color: #FFFFFF;
background-color: #2196F3;
cursor: pointer;
}
.header-text {
font-weight: 700;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
color: #212121;
list-style: none;
}
.ideas {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.text {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.second-header {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.employee {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-header {
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-text {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: #757575;
}
.adress {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}